.nav-bar {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: black;
}

.nav-bar > img {
    width: 60px;
}

.nav-bar > h3 {
    margin-right: auto;
    color: lightskyblue;
}

.nav-bar > h4 {
    color: white;
}